# Private - never publish (repo is public)
moonraker-obico.cfg
*.db
*.mdb
*.sqlite
*.sqlite3
# Klipper / Moonraker autosaves and leftovers
printer-[0-9]*_[0-9]*.cfg
.moonraker.conf.bkp
moonraker.conf.backup
crowsnest.conf.20*
*.bak
*.bkp
*.swp
.git-old
